**/.DS_Store
**/node_modules
**/.vscode
**/.env

#Solved Activities
**/01-HTML-Git-CSS/**/Solved
**/02-Advanced-CSS/**/Solved
**/03-JavaScript/**/Solved
**/04-Web-APIs/**/Solved
**/05-Third-Party-APIs/**/Solved
**/06-Server-Side-APIs/**/Solved
**/09-NodeJS/**/Solved
**/10-OOP/**/Solved
**/11-Express/**/Solved
**/12-SQL/**/Solved
**/13-ORM/**/Solved
**/14-MVC/**/Solved
**/17-CS/**/Solved
**/18-NoSQL/**/Solved
**/19-PWA/**/Solved
**/20-React/**/Solved
**/21-MERN/**/Solved
**/22-State/**/Solved

#Solved Algos
**/03-JavaScript/03-Algorithms/**/Solved
**/04-Web-APIs/03-Algorithms/**/Solved
**/05-Third-Party-APIs/03-Algorithms/**/Solved
**/06-Server-Side-APIs/03-Algorithms/**/Solved
**/09-NodeJS/03-Algorithms/**/Solved
**/10-OOP/03-Algorithms/**/Solved
**/11-Express/03-Algorithms/**/Solved
**/12-SQL/03-Algorithms/**/Solved
**/13-ORM/03-Algorithms/**/Solved
**/14-MVC/03-Algorithms/**/Solved
**/17-CS/03-Algorithms/**/Solved
**/18-NoSQL/03-Algorithms/**/Solved
**/19-PWA/03-Algorithms/**/Solved
**/20-React/03-Algorithms/**/Solved
**/21-MERN/03-Algorithms/**/Solved
**/22-State/03-Algorithms/**/Solved

#Module Project
**/01-HTML-Git-CSS/**/lesson-files
**/02-Advanced-CSS/**/lesson-files
**/03-JavaScript/05-Module-Project
**/04-Web-APIs/05-Module-Project
**/05-Third-Party-APIs/05-Module-Project
**/06-Server-Side-APIs/05-Module-Project
**/09-NodeJS/05-Module-Project
**/10-OOP/05-Module-Project
**/11-Express/05-Module-Project
**/12-SQL/05-Module-Project
**/13/ORM/05-Module-Project
**/14-MVC/05-Module-Project
**/17-CS/05-Module-Project
**/18-NoSQL/05-Module-Project
**/19-PWA/05-Module-Project
**/20-React/05-Module-Project
**/21-MERN/05-Module-Project
**/22-State/05-Module-Project

# ================================================
# DANGER ZONE!!!!
#Solved Challenges
**/01-HTML-Git-CSS/**/Main
**/02-Advanced-CSS/**/Main
**/03-JavaScript/**/Main
**/04-Web-APIs/**/Main
**/05-Third-Party-APIs/**/Main
**/06-Server-Side-APIs/**/Main
**/09-NodeJS/**/Main
**/10-OOP/**/Main
**/11-Express/**/Main
**/12-SQL/**/Main
**/13-ORM/**/Main
**/14-MVC/**/Main
**/17-CS/**/Main
**/18-NoSQL/**/Main
**/19-PWA/**/Main
**/20-React/**/Main
**/21-MERN/**/Main
**/22-State/**/Main

#Extras
#**/20-React/01-Activities/00-ReactApp

#Exceptions
# !/01-class-content/10-OOP/01-Activities/01-TDD/Solved
